
    <div *ngIf="board">
        <h2>{{ board.nombre }}</h2>
      <div class="MainContainer">
          <ul *ngIf="board.lists?.length">
            <li *ngFor="let list of board.lists; let i = index">
              
              <div class="TitulosMain" cdkDrag>
                <strong>{{ list.nombre }}</strong>
              </div>
              
              <div class="cardContainer" 
                cdkDropList
                [id]="'list-' + list.listId"
                [cdkDropListData]="list.cards"
                [cdkDropListConnectedTo]="connectedDropLists(list.listId)"
                (cdkDropListDropped)="drop($event)"
                id="lista-de-ejemplo"
              >
                <div *ngFor="let card of list.cards; TrackBy: trackByCardId">
                  <div class="MainCard " cdkDrag>
                    <p>{{card.title}}</p>
                    <p>{{card.descripcion}}</p>

                    <button class="Cruz" [matMenuTriggerFor]="menuRef">⋮</button>
                      <mat-menu #menuRef="matMenu">
                      <button  mat-menu-item (click)="AbrirModalDelete(card)">Eliminar</button>
                      <button  mat-menu-item (click)="AbrirModalUpdate(card)">Editar</button>
                    </mat-menu>          

                    <div class="tagsMain" *ngIf="card.tag; else noTag">
                      <p [ngStyle]="{'background-color':getColor(card.tag.nombre),'color':colorNombre(card.tag.nombre)} ">
                        {{ card.tag.nombre }}</p>
                    </div>
                    
                    <ng-template #noTag>
                      <p style="color: gray;">Esta tarjeta no tiene etiquetas.</p>
                    </ng-template>
                  </div>
                </div>   
              </div>
             
              <div class="CreateCard">
                <button  (click)="AbrirModalCreate(list.listId)">+ CrearCard</button>
              </div>
            </li>
           </ul>
        </div>
    </div>
    
