
    <div *ngIf="board">
        <h2>{{ board.nombre }}</h2>
      <div class="MainContainer">
          <ul *ngIf="board.lists?.length">
            <li *ngFor="let list of board.lists; let i = index">
              <div class="TitulosMain">
                <strong>{{ list.nombre }}</strong>
              </div>
              
              <div class="cardContainer">
                <div *ngFor="let card of list.cards">
                  <div class="MainCard">
                    <p>{{card.title}}</p>
                    <p>{{card.descripcion}}</p>

                    <button class="Cruz" [matMenuTriggerFor]="menuRef">⋮</button>
                      <mat-menu #menuRef="matMenu">
                      <button  mat-menu-item (click)="AbrirModalDelete(card)">Eliminar</button>
                      <button  mat-menu-item (click)="AbrirModalUpdate(card)">Editar</button>
                    </mat-menu>          
                  </div>
                </div>   
              </div>
             
              <div class="CreateCard">
                <button  (click)="AbrirModalCreate(list.listId)">+ CrearCard</button>
              </div>
            </li>
           </ul>
        </div>
    </div>
    
