.layout{
  display: flex;
}
.sidebar{
  background-color:#161215 ;
  width: 230px;
  height: 100vh;
  padding: 10px;
  border-right: 1px solid #aaa;

}
.project-list{
  padding: 0;
}
.project-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  padding: 12px;
  cursor: pointer;
}
.project-item:hover{
  background-color: #554151;
  border-radius: 20px;
}
.project-item a{
  color: #EAE0E4;
  text-decoration: none;
}
.project-name{
  flex-grow: 1;
}
.actions button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.actions button:hover{
  border: 1px solid black;
}
.CreateButton {
  background-color: #e91e63;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.CreateButton:hover {
  background-color: #c2185b;
}
.CreateButton:focus{
  border: 1px solid rgb(255, 0, 166);
}
.content {
  background-color: #161215;
  flex: 1;
  padding: 1rem;
  overflow: auto;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
  }
  .MainContainer ul {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}